html,
body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

path {
  color: rgba(0, 0, 0, 0.6);
}

.main {
  width: 100%;
}

.top-container {
  width: 100%;
  background: linear-gradient(255.22deg, #fffbfc 27.63%, #f4f8ff 66.81%);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.header-logo {
  display: flex;
  width: 35%;
}

.header-logo :nth-child(1) {
  padding-right: 1em;
}

.header-logo p {
  margin-left: 1em;
}

.header-logo p {
  font-weight: 700;
}

.btn-round {
  border-radius: 3em;
  padding: 0 15px;
  border: none;
  font-weight: 600;
  background-color: #2c59ec;
  color: white;
}

.btn-round:hover {
  background-color: #1e3c9e;
  cursor: pointer;
}

.top-landing {
  width: 100%;
  text-align: center;
  padding: 3em 10px;
}

.landing-input-container {
  border: 1px solid #d9d9d9;
  border-radius: 3em;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: center;
  padding-left: 1em;
  box-shadow: -2px 3px 5px 1px rgba(92, 92, 92, 0.25);
  height: 45px;
}

.landing-input-container :nth-child(1) {
  display: flex;
  align-items: center;
}

.landing-input-container :nth-child(1) :nth-child(1) {
  margin-right: 1em;
}

.landing-input {
  border: none;
}

.request-access-btn {
  background-color: #2c59ec;
  color: white;
  border: none;
  border-radius: 0 3em 3em 0;
  padding: 1em 2em;
  height: 45px;
}

.drops-container {
  padding: 1em;
  width: 100%;
}

.drops-box-container {
  border: 1px solid #d9d9d9;
  width: 100%;
  border-radius: 10px;
  padding: 1em;
  box-shadow: -2px 3px 5px 1px rgba(181, 181, 181, 0.25);
  margin: 1em 0;
}

.dbc-header {
  display: flex;
  align-items: center;
}

.dbc-header span {
  padding-left: 1em;
}

.dc-tags-container {
  display: flex;
}

.dc-tag {
  background-color: #f4f4f6;
  padding: 3px 7px;
  margin-right: 10px;
  color: #6b6d72;
}

.dc-tag span {
  padding: 0 5px;
}

@media (min-width: 700px) and (max-height: 1000px) {
  .top-landing {
    padding: 3em 5em;
  }

  .drops-container {
    padding: 1em 10em;
  }

  .header-container {
    padding: 1em 3em;
  }
}

@media (min-width: 1000px) and (max-height: 1300px) {
  .landing-input-container {
    margin: 0 7em;
  }

  .top-landing {
    padding: 3em 15em;
  }
}

@media (min-width: 1300px) and (max-height: 1800px) {
  .landing-input-container {
    margin: 0 12em;
  }
}

@media (min-width: 1600px) {
  .drops-container {
    padding: 1em 20em;
  }
}

@media (min-width: 1800px) {
  .landing-input-container {
    margin: 0 27em;
  }
}
